<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <title>地图显示</title>
    <style>
        html,
        body,
        #container {
          width: 100%;
          height: 100%;
        }
    </style>
</head>
<body>
<div id="container"></div>
<!-- 加载地图JSAPI脚本 -->
<script src="https://webapi.amap.com/maps?v=2.0&key=8ec0eef457659a258a5511296f18f310"></script>
<script>
    // 初始化地图
    var map = new AMap.Map('container', {
        viewMode: '2D', // 默认使用 2D 模式
        zoom: 11, // 初始化地图层级
        center: [119.198453, 26.056812] // 初始化地图中心点坐标
    });

    // 加载UI组件，以及使用UI组件加载POI搜索插件
    AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'], function(MarkerList, SimpleMarker, SimpleInfoWindow) {
        // 创建POI搜索对象
        var placeSearch = new AMap.PlaceSearch({
            pageSize: 10, // 每页显示结果数量
            pageIndex: 1, // 页码
            type: "停车场", // 搜索类型设置为停车场
            extensions: 'all' // 返回结果包含地址、电话等扩展信息
        });

        // 执行搜索
        placeSearch.search('停车场', function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                // 创建MarkerList对象
                var markerList = new MarkerList({
                    map: map,
                    markerOptions: {
                        icon: new AMap.Icon({
                            type: 'car',
                            size: new AMap.Size(30, 30)
                        })
                    },
                    infoWindowOptions: {
                        content: null
                    }
                });

                // 将搜索结果添加到地图上
                result.poiList.forEach(function(poi) {
                    var marker = new SimpleMarker({
                        position: poi.location,
                        icon: new AMap.Icon({
                            type: 'car',
                            size: new AMap.Size(30, 30),
                            image: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png'
                        }),
                        offset: new AMap.Pixel(-13, -30)
                    });

                    // 为Marker添加点击事件
                    AMap.event.addListener(marker, 'click', function() {
                        var info = new SimpleInfoWindow({
                            content: '<div class="info-title">' + poi.name + '</div>' +
                                     '<div class="info-tel">' + (poi.tel || '暂无电话') + '</div>' +
                                     '<div class="info-address">' + poi.address + '</div>'
                        });
                        info.open(map, marker.getPosition());
                    });

                    // 将Marker添加到地图上
                    map.add(marker);
                });

                // 调整地图视野以适应所有标记
                map.setFitView();
            }
        });
    });
</script>
</body>
</html>